* {
  box-sizing: border-box;
}
.bg-opacity {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-color: #e6e6e6;
  letter-spacing: 0.2em;
}

header {
  width: 100%;
  padding: 30px 4% 10px;
  /* background-color: rgb(92, 87, 87); */
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding: 0.25em 0 0.5em 0.75em;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 50px;
  font-size: 20px;
}

nav {
  margin: 0 0 0 auto;
}
.button {
  color: #fff;
  background-color: #3a3a3a;
  text-decoration: none;
}

.button:hover {
  color: #000;
  background-color: #dfdbdb;
  text-decoration: none;
}

.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../img/beach.jpg") top center / cover no-repeat;
}
h1,
h2 {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
p,
table {
  color: #fff;
  text-align: center;
}

#member {
  width: 600px;
  margin: 60px auto;
  height: 100px;
  text-align: justify;
}

#member:after {
  width: 100%;
  line-height: 0;
  height: 0;
}

.mem {
  color: #fff;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 10px 0;
  background-color: #b9b9b9;
}

.footer-text {
  color: rgb(129, 34, 34);
}
