body {
  font-family: "Avenir Next";
  text-align: center;
  background-image: url(../img/beautiful-color-gradients-backgrounds-158-angel-care.png);
  background-size: cover;
  /* background: url(../img/a1.jpg) center center / cover no-repeat fixed; */
}
/* .hero {
  height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(242, 185, 161, 0.849),
      rgba(234, 98, 100, 0.842)
    ),
    fixed url(img/a1.jpg) center center/cover no-repeat;
} */

h1 {
  position: relative;
  padding: 0.25em 0 0.5em 0.75em;
  border-left: 6px solid #3498db;
}
h1::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

.center {
  text-align: center;
  border: 1px dashed;
}

.header {
  background-color: #f37c746b;
  color: whitesmoke;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list ul li {
  float: left;
  padding: 33px 20px;
  white-space: nowrap;
  list-style: none;
  color: rgba(55, 170, 236, 0.918);
}
p {
  color: rgb(255, 242, 242);
}

/* footer */
footer {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 10px 0;
  background-color: #b9b9b9;
}
.footer-text {
  color: rgb(129, 34, 34);
}
