body {
  font-family: "Avenir Next";
  text-align:center;
}

h1 {
  position: relative;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #3498db;
}
h1::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}


li {
  list-style: none;
}

.header {
  background-color: #f3554ace;
  color: whitesmoke;
  height: 95px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
  height: auto;
  background-color: #fafafa;
}

.wrap{
  display:flex;
  flex-wrap:nowrap;
  /* justify-content:space-between; */
}
.item+.item{
  margin-left:0.1em;
}
/* footer */
footer {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 10px 0;
  background-color: #b9b9b9;
}
.footer-text {
  color: rgb(129, 34, 34);
}
